html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.primary-heading,
.secondary-heading,
.tetriary-heading {
  font-weight: 700;
  letter-spacing: -0.5px;
}
.strong {
  font-weight: 500;
}
body {
  font-family: "Lora", serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.primary-heading {
  font-size: 5.6rem;
  color: white;
}
.secondary-heading {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: #dad7cd;
}
.tetriary-heading {
  color: #1d2d20;
  font-size: 2.4rem;
  line-height: 1.2;
}
.about-heading {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: #3a5a40;
}
.grid {
  display: grid;
  row-gap: 6.4rem;
  column-gap: 6.4rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--center-v {
  align-items: center;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
/* MOBILE NAV */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
}
.mobile-nav .nav-logo {
  display: none;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/* header/navbar */
.section-header {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.1),
      rgba(34, 34, 34, 0.1)
    ),
    url("./sources/images/houseNearLake.jpg");
  background-size: cover;
  background-position: center;
  height: 72rem;
}
.nav-bar {
  padding-top: 1.6rem;
  display: flex;
  justify-content: space-between;
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.nav-contact {
  display: flex;
  align-items: center;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
}
.logo {
  height: 5.2rem;
}
.company-name {
  color: white;
  font-weight: 600;
  font-size: 2.2rem;
}
.hero-link:link,
.hero-link:visited,
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}
.hero-link:hover,
.hero-link:active,
.nav-link:hover,
.nav-link:active {
  color: #d3d3d3;
}
.contact-btn:link,
.contact-btn:visited {
  color: black;
  padding: 1.2rem;
  border-radius: 9px;
  background-color: white;
  transition: all 0.3s;
}
.contact-btn:hover,
.contact-btn:active {
  color: white;
  background: none;
  box-shadow: inset 0 0 0 3px #fff;
}
.hero {
  height: 60rem;
  padding-top: 4.6rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.hero-link {
  align-self: flex-start;
  margin-bottom: 4.8rem;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero-description {
  color: #ffffff;
  font-size: 1.8rem;
  margin-top: 1.2rem;
  margin-bottom: 4.8rem;
}
/* about */
.section-about {
  padding: 4.8rem 0;
  background-color: #3a5a40;
  color: #dad7cd;
}
.about-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 3.2rem;
}
.circle {
  border: 1px solid #dad7cd;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  right: 2rem;
}
.left {
  left: 2rem;
}
.about-circle {
  font-size: 1.8rem;
}
.about-text {
  font-size: 1.6rem;
  line-height: 1.5;
}

.about-img {
  height: 24rem;
  width: 100%;
  border-radius: 9px;
  object-fit: cover;
}
.center-img {
  height: 49.2rem;
}
.gallery {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.2rem;
  column-gap: 1.8rem;
}
.img-container {
  overflow: hidden;
  border-radius: 9px;
}
.about-img:hover {
  transform: scale(1.1);
}
.grid-about {
  grid-template-columns: 1fr 2fr;
}
.location {
  grid-row: span 2;
}
/* House section */
.section-houses {
  padding: 4.6rem 0;
  background-color: #dad7cd;
}

.house {
  background-color: white;
  border-radius: 9px;
  height: 40rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}
.house-text {
  display: flex;
  padding: 1rem 1rem;
  height: 60%;
  flex-direction: column;
  justify-content: space-between;
}
.house-img {
  width: 100%;
  height: 100%;
  background-image: url("./sources/images/pexels-isabella-mendes-107313-1795507.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 9px;

  transition: all 0.3s;
}

.house-img:hover {
  background-image: url("./sources/images/pexels-isabella-mendes-107313-1795508.jpg");
}
.house-location {
  font-size: 2rem;
  color: #2e4833;
}
.house-price {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  color: #2e4833;
}
.house-price strong {
  color: #1d2d20;
}

.house-description {
  text-align: center;
  font-size: 3rem;
  line-height: 1.35;
  color: #2e4833;
  margin-bottom: 9.6rem;
}
.featured {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.featured-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  padding: 3.2rem;
}
.featured-img {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  object-fit: cover;
}

.featured-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: white;
  border-radius: 9px;

  padding: 1.2rem 1.2rem;
}
.featured-icon {
  height: 100%;
  width: 100%;
  color: #2e4833;
}
.featured-text {
  padding: 1.2rem;
  line-height: 1.2;
  font-size: 1.6rem;
  font-weight: 500;
  color: #1d2d20;
}
/* TESTIMONIALS */
.section-testimonials {
  padding: 9.6rem 0;
}
.testimonial {
  background-color: #dad7cd;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  padding: 3.2rem 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.testimonial-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}
.testimonial-profile-box {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.testimonial-profile-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial-profile-name {
  font-size: 1.8rem;
  color: #2e4833;
  font-weight: 600;
}
.testimonial-date {
  font-size: 1.2rem;
}
.testimonial-icon {
  width: 4.8rem;
  stroke: #3a5a40;
}
.testimonial-text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #3a5a40;
}
.testimonial-heading {
  grid-column: span 3;
  font-size: 4.4rem;
  line-height: 1.2;
  color: #1d2d20;
}
/* Contact us */
.section-contact {
  padding: 4.8rem 0;
  background-color: #3a5a40;
  color: #dad7cd;
}
.contact-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1.2rem;
}
.contact-img {
  width: 100%;
  border-radius: 9px;
}
.contact-text {
  display: flex;
  flex-direction: column;
  padding: 3.2rem 1.2rem;
}
.contact-location {
  font-weight: 600;
  font-size: 3.6rem;
  margin-bottom: 1.2rem;
}
.contact-address {
  font-size: 2rem;
  margin-bottom: 4.8rem;
}
.contact-number {
  text-decoration: none;
  color: #dad7cd;
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
}
.contact-mail {
  text-decoration: none;
  color: #dad7cd;
  font-size: 2.4rem;
}
/* Footer */

.footer {
  padding: 9.6rem 0;
  background-color: #1d2d20;
  color: #dad7cd;
}
.grid-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.footer-contact {
  display: flex;
  flex-direction: column;
}
.footer-heading {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.footer-location {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}
.footer-address {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
.footer-number {
  text-decoration: none;
  color: #dad7cd;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}
.footer-mail {
  text-decoration: none;
  color: #dad7cd;
  font-size: 1.6rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.footer-logo {
}

.footer-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.footer-link:link,
.footer-link:active {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:visited {
  color: #d3d3d3;
}
.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.socials {
  display: flex;
  gap: 1.2rem;
}
.social-icon {
  height: 4.8rem;
  fill: #dad7cd;
}
